header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    background-color: #A7BEAE;
    border: 4px dotted rgb(0, 0, 0);
    margin: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: #B85042 0px 9px 10px 5px;
    text-shadow: #E7E8D1 3px 3px 0px;
}
body {
    background-color: #B85042;
}
nav {
    font-family: 'Times New Roman', Times, serif;
}
nav ul {
    list-style-type: none;
    margin-top: 49px;
}
nav ul li {
    margin: 80px;
    background-color: #A7BEAE;
    border: 2px solid rgb(0, 0, 0);
    display: inline;
    padding: 5px;
    border-radius: 10px;
}
nav a:hover {
    background-color: #E7E8D1;
    color: #B85042;
}
figure {
    border: thin solid black;
    width: 300px;
}
figure img {
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
#wrapper {
    height: 825px;
    width: 800px;
    margin: 100px auto;
    border: 2px solid black;
    padding: 1px;
    background-color: #E7E8D1;
}
#pic1 {
    float: right;
}
p img {
    border: thin solid black;
    width: 100%;
}
#pic2 {
    float: right;
    width: 40px;
}
main {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 20px;
    line-height: 1.6;
    text-transform: none;
    text-align: justify;
}
footer {
    text-align: left;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.end {
    clear: both;
}