body {
    background-color: rgb(82, 204, 244);
    font-family: 'Times New Roman', Times, serif;
}

#video1 {
  transform: scale(0.3, 0.3);
    width: 0;
    height: 0;
}

.btn {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
}