body {
    font-family: 'Courier New', Courier, monospace;
}
header {
    background-color: #b33a3a;
    color: white;
}
header h1 {
    margin: 10px;
}
nav {
    display: none;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    background-color: #c80d0d;
}
nav a:hover {
    background-color: #2d0505;
}
.main-row {
    display: flex;
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.card {
    width: 200px;
    border: thin solid black;
    margin: 10px;
}
.card img {
    width: 100%;
}
.sidebar {
    width: 200px;
    margin-right: 20px;
}
