body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0000;
    background-image: url(Backgroung1.jpg);
    background-size: cover;
}

#Picture {
    width: 500px;
}
